.columns {
  display: flex;
  flex-direction: column;
  gap: var(--column-space, 1rem);

  @media (min-width: 40em) {
    flex-direction: row;
  }
}

.columns > * {
  flex-basis: 100%;
}

.split-evenly {
  display: flex; 
  justify-content: space-between;
}