.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: .25em;
  font-family: var(--ff-accent);
  font-weight: 700;
  margin-top: 5rem;

  li:last-child {
    display: flex;
  &::before {
    content: '...';
    margin: 0 1em;
  }}

  a {
    display: block;
    padding: .25em 1em;
    text-decoration: none;
    color: currentColor;
    border: 1px solid var(--clr-secondary-700);

    &:hover,
    &:focus {
      color: var(--clr-neutral-100);
      background-color: var(--clr-secondary-700);
    }
  }
}
  
  .current-page {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    pointer-events: none;
  }

