---
layout: base.njk
title: 
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee website</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    {# <a href="#main">Skip to main content</a> #}

    <header class="main-header">
      <div class="container split-evenly">
        <a href="" class="logo"><img src="" alt="">adsf</a>
        <nav class="nav-main">
          <ul class="nav-list">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main">

      <section class="intro">
        <div class="container flow">
          <h1>Content Section Headline Goes Here</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat, ipsum ac auctor ornare, nunc ligula scelerisque eros.</p>
          <img src="https://source.unsplash.com/1200x600/?coffee" alt="">
        </div>
      </section>

      <section class="featured-articles">
        <div class="container flow">
          <header class="flow">
            <h2 class="">Featured articles</h2>
            <p class="section-title">Here are some of the best articles on this site</p>
          </header>

          <article class="article-snippet">
            <img src="https://unsplash.it/800" alt="">
            <h3 class="article-title">Blog Post Title Goes Here Lorem Ipsum dolor sit amet, consectetur adipiscing
            </h3>
            <p class="article-snippet__meta">
              by
              <span>John Smith</span>
              on
              <time datetime="2020-01-24">Jan 24, 2020</time>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facilis, sint rem minima numquam reiciendis nulla vitae ipsa?</p>
            <a href="" class="btn btn-primary"></a>
          </article>

          <article class="article-snippet">
            <img src="https://unsplash.it/800" alt="">
            <h3 class="article-title">Blog Post Title Goes Here Lorem Ipsum dolor sit amet, consectetur adipiscing
            </h3>
            <p class="article-snippet__meta">
              by
              <span>John Smith</span>
              on
              <time datetime="2020-01-24">Jan 24, 2020</time>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facilis, sint rem minima numquam reiciendis nulla vitae ipsa?</p>
            <a href="" class="btn btn-primary"></a>
          </article>

          <article class="article-snippet">
            <img src="https://unsplash.it/800" alt="">
            <h3 class="article-title">Blog Post Title Goes Here Lorem Ipsum dolor sit amet, consectetur adipiscing
            </h3>
            <p class="article-snippet__meta">
              by
              <span>John Smith</span>
              on
              <time datetime="2020-01-24">Jan 24, 2020</time>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facilis, sint rem minima numquam reiciendis nulla vitae ipsa?</p>
            <a href="" class="btn btn-primary"></a>
          </article>

        </div>
      </section>

      <section class="recent-articles">
        <div class="container flow">
          <header>
            <h2 class="">Recent articles</h2>
          </header>

          <div class="columns">

            <article class="article-snippet flow">
              <img src="https://unsplash.it/800" alt="">
              <h3 class="article-title">Blog Post Title Goes Here Lorem Ipsum dolor sit amet, consectetur adipiscing
              </h3>
              <p class="article-snippet__meta">
                by
                <span>John Smith</span>
                on
                <time datetime="2020-01-24">Jan 24, 2020</time>
              </p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi pariatur porro optio incidunt nulla. Deleniti laboriosam harum deserunt?</p>
              <a href="" class="btn btn-primary"></a>
            </article>

            <article class="article-snippet flow">
              <img src="https://unsplash.it/800" alt="">
              <h3 class="article-title">Blog Post Title Goes Here Lorem Ipsum dolor sit amet, consectetur adipiscing
              </h3>
              <p class="article-snippet__meta">
                by
                <span>John Smith</span>
                on
                <time datetime="2020-01-24">Jan 24, 2020</time>
              </p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi pariatur porro optio incidunt nulla. Deleniti laboriosam harum deserunt?</p>
              <a href="" class="btn btn-primary"></a>
            </article>

            <article class="article-snippet flow">
              <img src="https://unsplash.it/800" alt="">
              <h3 class="article-title">Blog Post Title Goes Here Lorem Ipsum dolor sit amet, consectetur adipiscing
              </h3>
              <p class="article-snippet__meta">
                by
                <span>John Smith</span>
                on
                <time datetime="2020-01-24">Jan 24, 2020</time>
              </p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi pariatur porro optio incidunt nulla. Deleniti laboriosam harum deserunt?</p>
              <a href="" class="btn btn-primary"></a>
            </article>
          </div>

          <ul class="pagination">
            <li class="current-page">
              <a href="">1</a>
            </li>
            <li>
              <a href="">2</a>
            </li>
            <li>
              <a href="">3</a>
            </li>
            <li>
              <a href="">4</a>
            </li>
            <li>
              <a href="">5</a>
            </li>
            <li>
              <a href="">25</a>
            </li>
          </ul>

        </div>
      </section>

      <footer class="main-footer">
        <img src="" alt="" class="logo">
        <p>© 2020 Company Name. All rights reserved.</p>
      </footer>

    </main>

  </body>
</html>