:root {
  --clr-primary-300: #65CFCF;
  --clr-primary-400: #05A6A6;
  --clr-primary-500: #0d7777;

  --clr-secondary-100: #f8f3f0;
  --clr-secondary-700: #3C1C0E;

  --clr-neutral-100: #fff;
  --clr-neutral-300: #999;
  --clr-neutral-400: #666;
  --clr-neutral-500: #333;
  --clr-neutral-900 : #222;

  --ff-heading: 'PT Serif', serif;
  --ff-accent: 'PT Sans', sans-serif;
  --ff-body: 'PT Serif', serif;

  --fw-400: 400;
  --fw-700: 700;

}

